<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrl.server.system.mapper.UserMapper">
    <select id="findUserDetailPage" parameterType="dnUser" resultType="dnUser">
        SELECT
        u.user_id,
        u.username,
        u.name,
        u.password,
        u.dept_id,
        u.email,
        u.mobile,
        u.sex,
        u.avatar,
        u.openid,
        u.last_login_time,
        u.insert_time,
        u.last_changed,
        u.status,
        d.dept_name deptName,
        GROUP_CONCAT(r.role_id) role_id,
        GROUP_CONCAT(r.role_code) role_code,
        GROUP_CONCAT(r.role_name) role_name
        FROM
        dn_user u
        LEFT JOIN dn_dept d ON (u.dept_id = d.dept_id)
        LEFT JOIN dn_user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN dn_role r ON r.role_id = ur.role_id
        where 1=1
        <if test="user.username != null and user.username != ''">
            AND u.username = #{user.username}
        </if>
        <if test="user.deptId != null and user.deptId != ''">
            AND d.dept_id = #{user.deptId}
        </if>
        <if test="user.sex != null and user.sex != ''">
            AND u.sex = #{user.sex}
        </if>
        <if test="user.status != null and user.status != ''">
            AND u.status = #{user.status}
        </if>
        <if test="user.mobile != null and user.mobile != ''">
            AND u.mobile = #{user.mobile}
        </if>
        <if test="user.deptName != null and user.deptName != ''">
            AND d.dept_name like CONCAT('%',#{user.deptName},'%')
        </if>
        <if test="user.insertTime != null and user.insertTime !=''">
            And u.insert_time &gt; #{user.insertTime}
        </if>
        <if test="user.lastChanged!= null and user.lastChanged !=''">
            And u.insert_time &lt; #{user.lastChanged}
        </if>
        group by u.user_id,u.username,u.name,u.password,u.dept_id,u.email, u.mobile,u.sex,u.avatar,u.openid
        ,u.last_login_time,u.insert_time,u.last_changed,u.status
    </select>
</mapper>
